* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  font-style: italic;
  margin: 50px 20px 20px 50px;
}
body {
  background-color: rgba(64, 185, 151, .1);
}

.todo {
  color: #9FB940;
  font-size: 130%;
  margin: 5px;
  max-width: 315px; 
  word-wrap: break-word;
}
.todo.strike {
  text-decoration: line-through;
}
.button-remove {
  color:#9d9aa3;
  margin-left: 10px;
  border-radius: 0 10px 0 10px;
  border: none;
  font-size: 80%;
  opacity: 80%;
  background-color: rgba(98, 185, 64, 0.1);
  cursor: pointer;
}
.li-and-button-wrapper {
  display: flex;
}


.todo-form {
  margin: 20px;
}
.todo-form-input-1 {
  font-size: 150%;
  border: 6px #40B997 double;
  font-style: italic;
  color: #9FB940; 
}
.todo-form-input-2 {
  margin-left: 5px;
  font-size: 150%;
  color: #40B997;
  border-radius: 20px 0 20px 0;
  border: none;
  background-color: rgba(98, 185, 64, 0.1);
}

.side-img {
  float: right;
  position: absolute;
  top: 50px;
  right: 0px;
  margin-left: 500px;
  width: 60%;
}


/* mobile */
@media (max-width: 1200px) {
  .side-img {
    width: 50%;
  }
}
@media (max-width: 960px) {
  .side-img {
    width: 30%;
  }
}
@media (max-width: 700px) {
  .side-img {
    display: none;
  }
  .todo-form-input-2 {
    margin-top: 10px;
  }
}