body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 238, 238, 0.4),
      rgba(221, 239, 187, 0.4)
    ),
    url("greek-vase.png");
}
.recipe {
  margin-top: 50px;
  margin-left: 50px;
}
a {
  color: #195d9c;
  text-decoration: unset;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
input,
textarea {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0.3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.recipe-navbar li {
  list-style: none;
}

.recipe-list {
  margin-top: 50px;
  color: chocolate;
}
.recipe-list a {
  color: chocolate;
}

.recipe h2 {
  color: chocolate;
}
.recipe li {
  color: chocolate;
}

pre p {
  color: chocolate;
}
