body {
  background-color: lightcyan;
}
#root {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkblue;
}
.circle {
  background-color: grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.even {
  background-color: skyblue;
}
.odd {
  background-color: lightgoldenrodyellow;
}

button {
  border-radius: 5px;
  background-color: skyblue;
  border: none;
  margin: 10px;
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: darkblue;
}
